<section
  id="about"
  class="mx-auto flex flex-col-reverse lg:flex-row justify-evenly mt-28 mb-8 scroll-mt-36 lg:w-[70%] lg:px-10 md:w-[60%] xs:w-[90%]"
>
  <img
    src="/edited2.png"
    alt="#"
    class="object-cover mx-auto rounded-lg lg:w-[30%] lg:h-72 md:w-[50%] md:h-auto sm:w-[70%] sm:h-auto xs:w-[80%] xs:h-auto"
  />
  <div class="flex flex-col justify-center gap-y-3 text-center lg:w-[50%] lg:mx-0 md:mb-4 xs:mb-6 xs:w-full">
    <h2 class="font-black lg:text-[50px] xs:text-4xl">
      Hello I'm
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block"
        >Andrea Agudelo</span
      >
    </h2>

    <p class="opacity-60 text-[17px]">
      <span class="block mb-2">
        My expertise lies in front-end development with React, JavaScript, and
        TypeScript, complemented by a strong foundation in back-end
        technologies like Java and Spring Boot. I also have experience in
        WordPress development, crafting custom themes and plugins.
      </span>
      <span class="block">
        Currently, I'm focused on expanding my portfolio with projects that aim
        to combine creativity with technical excellence.
      </span>
      <span class="block">
        I'm always excited to take on new challenges and collaborate on
        innovative projects. Feel free to check out my portfolio or reach out
        if you'd like to work together!
      </span>
    </p>
  </div>
</section>

